#map-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px; /* 设置div的宽度 */
    height: 300px; /* 设置div的高度 */
    margin-bottom:-18pt;
    /* margin-top:-12.5pt; */
    margin-left:10%;
    text-align: center;
}