/* 顶部导航栏背景颜色和基础样式 */
.topnav {
  background-color: #002D72;
  overflow: hidden; /* 通常在使用Flexbox时，不需要此属性来清除浮动 */
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex; /* 添加Flexbox布局 */
  justify-content: center; /* 两端对齐，自动处理左右两侧的间距 */
  align-items: center; /* 垂直居中对齐 */
}

/* 图片样式 */
.topnav img {
  /* margin-bottom: -25pt; */
  height: auto;  /*保持高度自动适应，维持宽高比 */
  margin: 1% 24vw 0.05% 0vw; /* 自动居中，并添加水平外边距 */
  /* max-width: 250pt; */
  max-width: 74%; 
}

/* 顶部栏文字大小及链接样式 */
.topnav a.normal {
  color: #ffffff;
  text-align: center;
  padding: 10px 9px;
  text-decoration: none;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* Flex布局下，不需要float属性 */
}

/* 鼠标悬停时的链接颜色变化 */
.topnav a.normal:hover {
  background-color: #ffffff;
  color: #002D72;
  margin: 2pt 0 2pt 0;
}

.topnav .icon {
  display: block; /* 或其他显示属性，如inline-block等 */
}

/* 响应式设计 */
@media screen and (max-width: 400px) {
  .topnav {
    /* 保持Flex布局，但可能需要调整其他样式以适应小屏幕 */
   }

  .topnav #myLinks {
      display: none;
  }

  .topnav img {
    /* 可能需要根据实际情况调整，比如隐藏图片或者进一步减小宽度 */
    max-width: 50%; /* 举例：在小屏幕上限制图片最大宽度为50% */
    margin: auto 15vw; /* 调整外边距以适应更窄的屏幕 */
  }

  .topnav a.normal,
  .topnav a.right {
      /* 为了适应移动设备，可以调整这些样式 */
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      /* display:block 和 margin-right:0 已经默认实现，无需重复声明 */
  }

  .topnav a.icon {
      color: white;
      padding: 10px 16px;
      font-size: 17px;
      position: absolute;
      right: 0;
      top: 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 960px) {
  .topnav {
    /* 保持Flex布局，但可能需要调整其他样式以适应小屏幕 */
   }

  .topnav #myLinks {
      display: none;
  }

  .topnav img {
    /* 可能需要根据实际情况调整，比如隐藏图片或者进一步减小宽度 */
    max-width: 50%; /* 举例：在小屏幕上限制图片最大宽度为50% */
    margin: auto 100px; /* 调整外边距以适应更窄的屏幕 */
  }

  .topnav a.normal,
  .topnav a.right {
      /* 为了适应移动设备，可以调整这些样式 */
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      /* display:block 和 margin-right:0 已经默认实现，无需重复声明 */
  }

  .topnav a.icon {
      color: white;
      padding: 10px 16px;
      font-size: 17px;
      position: absolute;
      right: 0;
      top: 0;
  }
}

/* 当屏幕宽度足够时（例如大于960px，具体数值根据您的需求调整），隐藏三条杠图标 */
@media (min-width: 960px) {
  .topnav .icon {
    display: none; /* 在大屏幕上隐藏图标 */
  }
}