<div id="map-container">
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=002d72&w=300&t=tt&d=aJXbRAq8L914nem5MbNfBr6sHx9heTatErrk5KvM6hA&co=ffffff&cmo=6fcac7&cmn=21ee21&ct=9f498a'></script>

<!-- 最后更新日期 -->
{% if site.enable_last_update %}
        <small>Last Update:
            <script>
                const monthNames = ["January", "Februray", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
                ];
                var modiDate = new Date(document.lastModified);
                var showAs = modiDate.getDate() + ". " + monthNames[modiDate.getMonth()] + " " + modiDate.getFullYear();
                document.write(showAs);
            </script>
        </small> 
        {% endif %}
<!-- ClustrMaps 地图代码 -->

</div>